*.iml
.gradle
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild

# Gradle & Android Studio
local.properties
.gradle/
.externalNativeBuild/
build/
captures/
release/
ccg

.idea/
*.iml


app/src/main/clash/.deps
app/src/main/clash/bin

core/src/overture/.deps
core/src/overture/bin
core/src/overture/pkg

core/src/overture/src/github.com/Sirupsen
core/src/overture/src/github.com/miekg
core/src/overture/src/golang.org

# work in progress
tv/

# release apks
*.apk


.classpath
.settings
